.header_text{
    font-family: 'Oxygen', serif;
    font-size: 24px;
    /*margin-top: 0px;*/
    margin-bottom: 20px;
}

.center-block{
    display: block;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 40px;*/
    max-width: 900px;
    background-color: #f8f8f2;
    border-left: 1px solid #CCDDEE;
    border-right: 1px solid #CCDDEE;
    border-bottom: 1px solid #CCDDEE;
    border-bottom-left-radius: 15px;
    padding: 20px;
    min-height: 100%;
    font-weight: normal;
    font-size:10pt;
    /*font-family: 'Oxygen', serif;*/
}

.center-block-red{
    display: block;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 40px;*/
    max-width: 900px;
    background-color: #f8f8f2;
    border-left: 1px solid #ebccd1;
    border-right: 1px solid #ebccd1;
    border-bottom: 1px solid #ebccd1;
    border-bottom-right-radius: 15px;
    padding: 20px;
    min-height: 100%;
    font-weight: normal;
    font-size:10pt;
    /*font-family: 'Oxygen', serif;*/
}


.center-block-green{
    display: block;
    margin-right: auto;
    margin-left: auto;
    /*margin-top: 40px;*/
    max-width: 900px;
    background-color: #f8f8f2;
    border-left: 1px solid #d6e9c6;
    border-right: 1px solid #d6e9c6;
    border-bottom: 1px solid #d6e9c6;
    border-bottom-right-radius: 15px;
    padding: 20px;
    min-height: 100%;
    font-weight: normal;
    font-size:10pt;
    /*font-family: 'Oxygen', serif;*/
}


#btn_back{
    background-color: #eeeeee;
    padding: 10px;
}
